<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Todolist
		link(rel="stylesheet", href="/style.css")
	body
		ul
			each task, id in tasks
				li= task
					button.btn-del(onclick="window.location = '/delTask/"+ id +"'") &times;
		
		form(action="/addTask", method="post")
			input(type="text", name="task", placeholder="Other task...", autofocus)
			input(type="submit", value="Add task")
			input(type="reset", value="Reset list" onclick="window.location = '/reset'")