<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todolist</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
	<h1>Todolist</h1>
	<ul>
		{% for task in tasks %}
			<li>
				{{task}}
				<button class="btn-del" onclick="window.location = '/delTask/{{loop.index0}}'">&times;</button>
			</li>
		{% endfor %}
	</ul>

	<form action="/addTask" method="POST">
		<input type="text" name="task" placeholder="Other task..." autofocus />
		<input type="submit" value="Add task" />
		<input type="reset" value="Reset list" onclick="window.location = '/reset'" />
	</form>
</body>
</html>
